.connect-container {
    width: 100%;
    height: 100vh;
    position: relative;
  }
  
  .connect-iframe {
    width: 100%;
    height: 100%;
    touch-action: manipulation;
  }
  .hidded_watermark{
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 160px;
    height: 100px;
    background-color: #100e09;
    z-index: 10000;
    /* display: none; */
  }
  
  @media screen and (max-width: 1200px) {
    .connect-container {
      height: 90vh;
    }
  }
  
  @media screen and (max-width: 992px) {
    .connect-container {
      height: 80vh;
    }
  }
  
  @media screen and (max-width: 768px) {
    .connect-container {
      height: 70vh;
    }
  }
  
  @media screen and (max-width: 576px) {
    .connect-container {
      height: 60vh;
    }
  }
  
  @media screen and (max-width: 480px) {
    .connect-container {
      height: 50vh;
    }
  }
  
  /* Font size adjustments */
  @media screen and (max-width: 768px) {
    body {
      font-size: 14px;
    }
  }
  
  @media screen and (max-width: 576px) {
    body {
      font-size: 12px;
    }
  }
  
  /* Padding and margin adjustments */
  @media screen and (max-width: 992px) {
    .connect-container {
      padding: 10px;
      margin: 10px;
    }
  }
  
  @media screen and (max-width: 768px) {
    .connect-container {
      padding: 5px;
      margin: 5px;
    }
  }
  
  /* Flexbox adjustments */
  @media screen and (max-width: 768px) {
    .connect-container {
      display: flex;
      flex-direction: column;
    }
  }
  
  /* Block-level adjustments */
  @media screen and (max-width: 576px) {
    .connect-iframe {
      display: block;
      margin: 0 auto;
    }
  }